* {
    BG:    #101313;
    BGA:   #2fde73;
    FG:    #D7D7D7;
    FGA:   #F28FADff;
    BDR:   #2FDE73;
    SEL:   #101313;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
